# Adult example
Chapter 3.

Import appropriate libraries:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Read the dataset:

In [3]:
# read the data
file = open('adult.data', 'r')

Create a helper function to convert all numbers into integers:

In [4]:
def chr_int(a):
    if a.isdigit():
        return int(a)
    else:
        return 0

Process the data:

In [5]:
data = []

for line in file:
    data1 = line.split(', ')
    if len(data1) == 15:
        # apply the function we created to all numeric values
        data.append([chr_int(data1[0]), data1[1],
                     chr_int(data1[2]), data1[3],
                     chr_int(data1[4]), data1[5],
                     data1[6], data1[7],
                     data1[8], data1[9],
                     chr_int(data1[10]), chr_int(data1[11]),
                     chr_int(data1[12]), data1[13],
                     data1[14]])

Print the first couple of lines of the data structure to make sure everything turned out right:

In [8]:
print(data[0:1])

[[39, 'State-gov', 77516, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Not-in-family', 'White', 'Male', 2174, 0, 40, 'United-States', '<=50K\n']]

Convert the data into a Pandas DataFrame structure:

In [9]:
df = pd.DataFrame(data)
df.columns = ['age', 'type_employer', 'fnlwgt', 'education',
              'education_num', 'marital', 'occupation', 'relationship',
              'race', 'sex', 'capital_gain', 'capital_loss',
              'hr_per_week', 'country', 'income']

Let's look at the DataFrame dimensions:

In [10]:
df.shape

(32561, 15)

Count the number of items per country:

In [13]:
counts = df.groupby('country').size()
print(counts)

country
?                               583
Cambodia                         19
Canada                          121
China                            75
Columbia                         59
Cuba                             95
Dominican-Republic               70
Ecuador                          28
El-Salvador                     106
England                          90
France                           29
Germany                         137
Greece                           29
Guatemala                        64
Haiti                            44
Holand-Netherlands                1
Honduras                         13
Hong                             20
Hungary                          13
India                           100
Iran                             43
Ireland                          24
Italy                            73
Jamaica                          81
Japan                            62
Laos                             18
Mexico                          643
Nicaragua                        34
Outlying-US(Guam-USVI-etc)       14
Peru                             31
Philippines                     198
Poland                           60
Portugal                         37
Puerto-Rico                     114
Scotland                         12
South                            80
Taiwan                           51
Thailand                         18
Trinadad&Tobago                  19
United-States                 29170
Vietnam                          67
Yugoslavia                       16
dtype: int64

Divide the data into two groups, males and females, both as high-income professionals:

In [14]:
ml1 = df[(df.sex == 'Male') & (df.income == '>50K\n')]
fm1 = df[(df.sex == 'Female') & (df.income == '>50K\n')]